<header>
	<div class="container">
		<div class="image">
			<img class="logo" src="assets/css/images/logo.png">
		</div>
		<div class="links">
			<div class="buttons">
				<a class="nav" id="nav-font" href="test">Home</a>
				<a class="nav" id="nav-font" href="test">Projects</a>
				<a class="nav" id="nav-font" href="test">Blog</a>
				<a class="nav" id="nav-font" href="test">About</a>
			</div>
			<div class="buttons">
				<a class="social" id="github" href="test"></a>
				<a class="social" id="modrinth" href="test"></a>
				<a class="social" id="curseforge" href="test"></a>
				<a class="social" id="wikigg" href="test"></a>
				<a class="social" id="bluesky" href="test"></a>
				<a class="social" id="twitter" href="test"></a>
				<a class="social" id="mastodon" href="test"></a>
				<a class="social" id="facebook" href="test"></a>
				<a class="social" id="threads" href="test"></a>
				<a class="social" id="instagram" href="test"></a>
				<a class="social" id="reddit" href="test"></a>
				<a class="social" id="youtube" href="test"></a>
				<a class="social" id="twitch" href="test"></a>
				<a class="social" id="tiktok" href="test"></a>
			</div>
		</div>
	</div>
</header>